
/*
brown #514945
#894242
#EBD4CC
*/

/* top */
#top{
    text-align: center;
}

.sowar{
    display: inline-block;

}

.darker{
    filter: brightness(70%);
}

/* after the viddd */

body{
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
button{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.txt-upper{
    text-transform: uppercase;
}

.back-color{
    background-color: #894242;
}

.txt-bln{    
    color: white;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.block{
    display: block;
}

.inline{
    display: inline;
/* cant do margin on top or bottom */
}

.inline-block{
    display: inline-block;
}

.flex{
    display: flex; 
}

.justify-between{
    justify-content: space-between;
}


.item-center{
    align-items: center;
}

.p-8{
    padding: 7px;
}

.py-8{
    padding-top: 12px;
    padding-bottom: 12px;
}
.px-8{
    padding-left: 16px;
    padding-right: 16px;
}


.m-8{
    margin: 8px;
}

.m-r{
    margin-right:20px;
}
.m-l{
    margin-left:20px;
}

.bg-btn{
    background-color: #D55C5A;
}

.border-none{
    border: none;
}

.round-brd{
    border-radius: 20px ;
}

.no-deco{
    text-decoration: none;
}

/* imag */
.wd-full{
    width: 100%;
}

.relative{
    position: relative;
}

.absolute{
    position:absolute;
}

.z-10{
    z-index: 10;
}

.object-cover{
    object-fit: cover;
}

.center-absolute{
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);  
    
}

.txt-almnd{
    color: #894242;
}

.btn-top-hvr:hover{
    color: #514945;
    background-color: #EBD4CC;
}

.link-hvr:hover {
    color: #514945;
    
}