/*
brown #514945
#894242
#EBD4CC
*/

/* top */
#top {
    text-align: center;
}

.txt-center{
    text-align: center;
}

.sowar-width {
    max-width: 20%;
    max-height: 500px;

}
.sowar-center-width {
    max-width: 20%;
    max-height: 500px;

}
.sowar-size {
    max-width: 300px;
    max-height: 300px;
}

.brd-rd-img{
    border-radius: 5px;
}

.shadow{
        box-shadow: -3px -3px  #EBD4CC;

}

.darker {
    filter: brightness(70%);
}

/* after the viddd */

body {
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fcf9f9;
}

h2{
    text-align: center;
    font-size: 32px;
    /* background-color: #894242 ; */
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-color: #EBD4CC;
}

/* articls section */
section > article{
        background-color: white ;
        /* background-color: lightgray; */
        max-width:300px ;
        padding: 10px;
        margin: 8px;
        border-radius: 7px;
        border-bottom: 2px solid #514945;
        
}
section > article:hover{
    background-color:#fcf9f9 ;
}


.flex-wrap{
    flex-wrap: wrap;
    /* flex-flow: column wrap; */
}

.stats-wd{
    min-width: 30%;
    max-width: 300px;
}

.hight-adjst{
    min-height: 55px;
}


.txt-upper {
    text-transform: uppercase;
}

.back-color {
    background-color: #894242;
}

.txt-bln {
    color: white;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.block {
    display: block;
}

.inline {
    display: inline;
    /* cant do margin on top or bottom */
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}


.item-center {
    align-items: center;
}

.p-8 {
    padding: 7px;
}

.py-8 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.px-8 {
    padding-left: 16px;
    padding-right: 16px;
}

.grid{
    display: grid;
}

.m-8 {
    margin: 8px;
}

.m-r {
    margin-right: 20px;
}

.m-l {
    margin-left: 20px;
}

.bg-btn {
    background-color: #630806;
}

.border-none {
    border: none;
}

.round-brd {
    border-radius: 10px;
}

.no-deco {
    text-decoration: none;
}

/* imag */
.wd-full {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-10 {
    z-index: 10;
}

.object-cover {
    object-fit: cover;
}

.center-absolute {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.txt-almnd {
    color: #894242;
}

.txt-rded {
    color: #630806;
}

.txt-reed {
    color: #bd0505;
}

.txt-grnd {
    color: #514945;
}

.btn-top-hvr:hover {
    /* color: #; */
    background-color: #514945;
}

.link-hvr:hover {
    color: #514945;

}

/* make responsive for mobile later */